/* ***commons*** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
}


/* ***header*** */

/* ***main*** */

main{
    width: 100%;
    height: calc(100vh - 60px);
    background-color: rgb(226, 43, 113);
    display: flex;
}
.barra{
    width: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    text-align: center;
    justify-content: space-between;
}

.corpo{
    width: calc(100% - 30px);
    height: 100%;
    background-color: rgb(68, 0, 255);
    overflow: auto;
}

.top{
    width: calc(100% - 30px);
    height: 60px;
    position: fixed;
    right: 0px;
    display: flex;
    background-color: rgb(16, 14, 29);
    justify-content: flex-end;
    align-items: center;
}

.musica{
    width: 100%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    background-color: rgb(192, 226, 43);
}

img{
    height: 20px;
}


.sopra{
    width: 100%;
    height: 100vh;
    padding-top: 5px;
}

.sotto{
    width: 100%;
    height: 50px;  
    padding-left: 5px;
   
}


.head , .logo{
    display: flex;
}

.head:hover{
    border-left:1px solid yellow;
}

.head span, .logo span{
    display: none;
}

.head span{
    color: grey;
}

.head span:hover,.upgrade a:hover,.pref i:hover,.playlist:hover ,.nom nav ul li:hover,.scritte nav ul li:hover,.download span:hover,.john span:hover,.nom-bran:hover,.play div:hover,.nav-right div:hover{
    color: white;
    cursor: pointer;
    color: white;
  text-shadow: 2px 2px 4px #000000;
}


.centro{
    display: flex;
    flex-direction: column;
}

.centro div{
    display: none;
    color: grey;
    font-size: 10px;
    font-weight: bold;
}

.centro div h2{
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0;
}

.playlist{
    height: 30px;
    display: flex;
}
.nom{
    overflow: auto;
}

.nom nav ul li{
    list-style: none;
    line-height: 30px;
    
}

.playlist i{
    font-size: 30px;
}



.download div , .john div{
    display: none;
    font-size: 10px;
    padding-left: 5px;

}

.download{
    display: flex;
    line-height: 10px;
    
}

.download span{
    color: grey;
}


.john{
    display: flex;
    line-height: 20px;
}

.download img{
    height: 10px;
}



.btn{
    padding: 7px 25px;
    border-radius: 2em;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 9px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
}

.scritte{
    width: 100%;
    height: 100px;
    background-color: rgb(40, 40, 54);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.scritte nav ul li:hover{
    border-bottom: 1px solid yellowgreen;
}

.brani{
    width: 100%;
    height: calc(100% - 15%);
    background-color: rgb(40, 40, 54);
    display: flex;
    flex-direction: column;
    
    
}


.scritte ul{
    display: flex;
    list-style: none;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: bold;
    flex-wrap: wrap;
    color: grey;
    line-height: 20px;
    justify-content: center;
}

.scritte li{
    padding: 0 5px;
}

.titolo{
    width: 90%;
    height: 40px;
    font-size: 13px;
    display: flex;
    color: white;
    padding-left: 20px;
}

.titolo.basso{
    padding-left: 0px;
}

.player{
    width: 100%;
    height: calc(100% - 60px);
    background-color:rgb(40, 40, 54);
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    
}

.player.basso {
    padding-left: 0px;
}

.card{
    width: 150px;
    height: 220px;
    /* background-color: blueviolet; */
    margin-bottom:10px;
    margin-right: 10px;
}


.sing{
    width: 100%;
    height: 150px;
    background-color: rgb(40, 40, 54);
    opacity: 1;
}

.sing:hover{
    opacity: 0.5;
}

.sing span{
    color: white;
}

.card .sing #mus{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text{
    display: flex;
    flex-direction: column;
    font-size: 9px;
    text-align: center;
    font-weight: bold;
    color: grey;
}

.text h4{
    font-size: 12px;
    color: white;
    font-weight: bold;
    padding-bottom: 3px;
}

/* ***footer*** */

footer{
    width: 100%;
    height: 60px;
    background-color: pink;
    position: fixed;
    bottom: 0px;
}

.menu {
    width:100%;
    height: 100%;
    background-color: rgb(42, 41, 41);
    display: flex;
    justify-content: space-between;
}

.nav-left{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 15px;
}

.nav-middle{
    width: 60%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 10px;
    align-items: center;
    justify-content: space-around;
    margin-left: 5px;
    margin-right: 10px;
}

.nav-right{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-size: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-right div{
    padding: 0 3px;
}

.nav-left div{
    padding: 0 5px;
    color: rgb(208, 208, 208);
}

.nom-bran{
    display: flex;
    font-size: 8px;
    color:grey;
    flex-direction: column
}

/* .nom-bran h4{
    color: ;
} */

.pref{
    color: grey;
    display: flex;
    flex-direction: column;
    padding: 0 3px;
}

.play{
    display: flex;
    /* padding-bottom: 10px; */
    font-size: 10px;
    line-height: 30px;
}


.play #strana{
    font-size: 20px;
}

.durata{
    display: flex;
    align-items: center;
    padding: 0 5px;
    line-height: 30px;
}

.play div{
    padding: 0 10px;
}

.segm{
    width: 30%;
    padding: 0 5px;
    line-height: 30px;
    display: flex;
    
}

.segm input{
    width: auto;

}

.segm-2{
    width: 30px;
    height: 5px;
    border-radius: 2em;
    background-color: gray;
}

.nav-left div{
    padding-right: 5px;
}

.head:hover{
    color: white;
}





@media screen and (min-width: 468px){
    
    .barra{
        width: 150px;
        text-align: start;
        align-items: flex-start;
        padding: 5px 10px;
    }

    .corpo{
        width: calc(100% - 150px);
    }

    .top{
        width: calc(100% - 150px);
        
    }

    .download div , .john div{
        display: inline-block;
        color: white;
    }

    .download{
        border-bottom: 1px solid grey;
        padding-bottom: 5px;
        color: grey;

    }

    .john{
        margin-top: 5px;
    }

    .centro div{
        display: inline-block;
    }

    .head span, .logo span{
        display: block;
        padding: 5px 5px;
        font-size: 10px;
        font-weight: bold;
    }

    .logo img{
        height: 30px;
        margin-bottom: 10px;
    }

    .logo span{
        font-size: 20px;
    }

    .sotto{
        padding-left: 0px;
    }

    .pref{
        flex-direction: row;
        
    }

    .pref i{
        padding-right: 5px;
    }

    .sing{
        width: 100%;
        height: 100px;
        background-color: rgb(40, 40, 54);
    }

    .sing.bo img{
        border-radius: 50%;
    }

    .card{
        width: 100px;
        height: 180px;
    }

    .titolo{
        display: flex;
        flex-direction: column;
    }

    .titolo span{
        color: grey;
        margin-bottom: 5px;
    }

    .nom nav{
        overflow: auto;
    }
}

@media screen and (min-width: 1024px){

    .card{
        margin-right: 25px;
    }

}